# Core dependencies
fastapi>=0.103.1
uvicorn>=0.24.0
pydantic>=2.5.2
jinja2>=3.1.2
websockets>=11.0.3

# Database support
psycopg2-binary>=2.9.9
requests_toolbelt

# NLP and ML
sentence-transformers>=2.2.2
numpy>=1.24.0

# Speech Text Speech Processing
faster-whisper>=1.0.2
openai>=1.30.1
#SpeechRecognition
pyttsx3>=2.90
tabulate
groq

# Data processing
pandas>=2.1.3

# Utilities
python-dotenv>=1.0.0
python-multipart>=0.0.6
aiohttp>=3.9.1
requests>=2.31.0
